<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Analysis</title>
</head>
<body id="analysis_background">
    <main class="container">
	<h2 class="centered mb-3">Analysis</h2>
	<div class="row">
    	<% for (event in resultsTally) {%>
	    <div class="col-lg-4 col-md-6 col-sm-6 card-deck" >
		<div class="card">
		  <div class="card-body">
    		    <h5 class="card-title text-center"><%= event %></h5>
    		    <p class="card-text">In the <%= daysToLookBack %> days prior to each time you experienced <%= event %>, you have eaten:</p>
    			<ul class="list-group list-group-flush">
     			    <% for (food in resultsTally[event]["food_count"]) {%>
      			        <li class="list-group-item"><%= resultsTally[event]["food_count"][food]%> meals of <%= food%>. Total amount of <%= food%> logged in the app is <%= foodTotals[food] %>  <%= resultsTally[event]["food_percent"][food] %>%</li>
     			    <% } %>
  			</ul>    
			<h5 class="card-header text-center">Tags</h5>
   			<ul class="list-group list-group-flush">
			    <% for (tag in resultsTally[event]["tag_count"]) {%>
				<li class="list-group-item"><%= resultsTally[event]["tag_count"][tag] %> <%= tag %> out of a total <%= tagTotals[tag] %> </li>
			    <% } %>
			</ul> 
 	  	  </div>
		</div>
	    </div>
    	<% } %>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-sm">
		<thead>
		<tr>
			<th>Event</th>
			<th>Food</th>
			<th>Recently Eaten</th>
			<th>Total Eaten</th>
			<th>Percentage</th>
		</tr>
		</thead>
		<tbody>
		<% for (event in resultsTally) {%>
			<% let rowCounter = 0;%>
			<% for (food in resultsTally[event]["food_count"]) { %>
				<tr>
				<% if (rowCounter == 0) { %>
				<td><%=event%></td>
				<% } else { %>
				<td></td>
				<% } %>
				<td><%=food%></td>
				<td><%= resultsTally[event]["food_count"][food] %></td>
				<td><%= foodTotals[food] %></td><td><%= resultsTally[event]["food_percent"][food] %></td>
				</tr>
				<% rowCounter += 1;%>
			<% } %>
			<% for (tag in resultsTally[event]["tag_count"]) { %>
				<tr>
				<% if (rowCounter == 0) { %>
				<td><%=event%></td>
				<% } else { %>
				<td></td>
				<% } %>
				<td><%=tag%></td>
				<td><%= resultsTally[event]["tag_count"][tag] %></td>
				<td><%= tagTotals[tag] %></td>
				<td> <%= resultsTally[event]["tag_percent"][tag] %></td>
				</tr>
			<% } %>
		<% } %>
		</tbody>
		</table>
	</diV>
	<div class="centered pt-3">
	   <a href="/">Home</a>
	</div>
    </main>
</body>
</html>