<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link ref="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Analysis</title>
</head>
<body>
    <main class="container">
	<div class="row">
    	<% for (event in resultsTally) {%>
	    <div class="col-lg-4 col-md-6 col-sm-6 card-deck" >
		<div class="card">
		  <div class="card-body bg-success">
    		    <h5 class="card-title text-center"><%= event %></h5>
    		    <p class="card-text">In the <%= daysToLookBack %> days prior to each time you experienced <%= event %>, you have eaten:</p>
    			<ul class="list-group list-group-flush">
     			    <% for (food in resultsTally[event]["food_count"]) {%>
      			        <li class="list-group-item"><%= resultsTally[event]["food_count"][food]%> meals of <%= food%>. Total amount of <%= food%> logged in the app is <%= foodTotals[food] %>  <%= resultsTally[event]["food_percent"][food] %>%</li>
     			    <% } %>
  			</ul>    
			<h5 class="card-header text-center">Tags</h5>
   			<ul class="list-group list-group-flush">
			    <% for (tag in resultsTally[event]["tag_count"]) {%>
				<li class="list-group-item"><%= resultsTally[event]["tag_count"][tag] %> <%= tag %> out of a total <%= tagTotals[tag] %> </li>
			    <% } %>
			</ul> 
 	  	  </div>
		</div>
	    </div>
    	<% } %>

	</div>
	<div>
	   <a href="/">Home</a>
	</div>
    </main>
</body>
</html>