<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link ref="stylesheet" type="text/css" href="css/styles.css">
    <title>Analysis</title>
</head>
<body>
    <main>
    <% for (event in resultsTally) {%>
    <p>In the <%= daysToLookBack %> days prior to each time you experienced <%= event %>, you have eaten:</p>
    <ul>
        <% for (food in resultsTally[event]["food_count"]) {%>
            <li><%= resultsTally[event]["food_count"][food]%> meals of <%= food%>. <%= resultsTally[event]["food_percent"][food] %>%</li>
        <% } %>
    </ul>    
    
    <% } %>
    </main>
</body>
</html>