<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Entry for <%= username %></title>
</head>
<body>
    <main class="centered">
		<div class="container">
			<div class="card">
				<div class="card-body">
				<% if (type == 'event') { %>
					<span class="card-title">Event: <%= doc.event_type %></span>
				<br>
					Date: <%= doc.event_date %>
				<div>
					Description: <%= doc.description %>
				</div>
				<a href="/deleteentry/<%= entryId %>">Delete this entry</a>
				<% } else if (type == 'food') { %>
					<span class="card-title">Event: <%= doc.food_name %></span>
				<br>
					Date: <%= doc.datetime_eaten %>
				<div>
					Description: <%= doc.description %>
				</div>
				<div>
					Tags/Ingredients: <%= doc.tags %>
				</div>
				<a href="/deletefood/<%= foodId %>">Delete this food entry</a>

				<% } %>
			</div>
		</div>
		<div class="container">
			<a href="/home">Home</a>
		</div>
    </main>
</body>
</html>