<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/core/main.css">
    <link rel="stylesheet" type="text/css" href="css/daygrid/main.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>First Express Home</title>
    <script src="main.js"></script>
</head>
<body>
    <main class="centered">
	<div>
        <a href="/about">About</a>
		<a href="/settings">settings!</a>
		<a href="/logout">Logout!</a>
        </div>
    <img src="images/express-icon.svg" style="height: 100px;">
    <div>
        <% if (user) {%>
            <h1>Hello <%= user.username %></h1>
        <% } else { %>  
            <h1>Please log in</h1>
        <% } %>
    </div>
        Home Page!
	<div class="calendar_wrapper">
        	<div id="calendar">
	            Calendar goes here!
        	</div>
	</div>
	<div id="calendarModal" class="modal">
		<div id="calendarModalContent" class="modal_content">
			Placeholder content
		</div>
	</div>
        <div>
            <%= currentTime %> Current Time!
            <br>
            <%= currentYear%> Current Year!
            <br>
            <%= currentMonth %> Current Month!
        </div>
        <a href="new_entry">New entries here!</a>
        <% if (user) { %>
        <div>
            <h2>Your Reactions!</h2>
            <% eventlist.forEach(function(event) { %>
                <h4><%= event.event_type %></h4>
                <p><%= event.event_date %></p>
                <p><%= event.event_sensitivity %></p>
                <p><%= event.description %></p>
                <p><%= event.tags %></p>
                <a href="entry/<%= event._id %>"><%= event._id %></a>
        <% }); %>
        </div>
        <div>
            <h2>Your foodies!</h2>
            <% foodlist.forEach(function(food) { %>
                <h4><%= food.food_name %></h4>
                <p><%= food.datetime_eaten %></p>
                <p><%= food.description %></p>
                <p><%= food.tags %></p>
                <p><%= food._id %></p>
            <% }); %>
        </div>
    <% } %>
    </main>
</body>
</html>