<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Express Home</title>
</head>
<body>
    <main>
	<div>
        <a href="/about">About</a>
		<a href="/settings">settings!</a>
		<a href="/logout">Logout!</a>
    </div>
    <img src="express-icon.svg" style="height: 100px;">
    <div>
        <% if (user) {%>
            <h1>Hello <%= user.username %></h1>
        <% } else { %>  
            <h1>Please log in</h1>
        <% } %>
    </div>
        Home Page!
        <div id="calendar">
            Calendar goes here!
        </div>
        <a href="new_entry">New entries here!</a>
        <% if (user) { %>
        <div>
            <h2>Your Reactions!</h2>
            <% eventlist.forEach(function(event) { %>
                <h4><%= event.event_type %></h4>
                <p><%= event.event_date %></p>
                <p><%= event.event_sensitivity %></p>
                <p><%= event.description %></p>
                <p><%= event.tags %></p>
        <% }); %>
        </div>
        <div>
            <h2>Your foodies!</h2>
            <% foodlist.forEach(function(food) { %>
                <h4><%= food.food_name %></h4>
                <p><%= food.datetime_eaten %></p>
                <p><%= food.description %></p>
                <p><%= food.tags %></p>
            <% }); %>
        </div>
    <% } %>
    </main>
</body>
</html>