<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/core/main.css">
    <link rel="stylesheet" type="text/css" href="css/daygrid/main.css"> 
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.ico">
    <title>Home</title>
</head>
<body>
    <main class="centered">
		<nav class="nav home_navbar">
        	<a href="/about" class="nav-link">About</a>
		<div id="profile_menu" class="nav-link"> 
			Hello <%= user.username %> <img id="dropdown_gear" src="images/gear-icon.svg">
			<div id="profile_dropdown" style="display: none;">
				<a href="/settings" class="nav-link home_dropdown_menu">Settings</a>
				<a href="/logout" class="nav-link home_dropdown_menu">Logout</a>
			</div>
		</div>
 		</nav>
		<div class="home_main">
			<div id="welcome"></div>
		<img src="images/express-icon.svg" style="height: 100px;">
		<div class="container calendar_wrapper centered">
				<div id="calendar">
				</div>
		</div>
		<div id="calendarModal" class="modal">
			<div class="modal_content border border-dark rounded container">
				<span  id="calendarModalText">
				</span>
				<div>
					<a href="/new_entry" id="modalNewEntry">New entries here</a>
					<br>
					<a href="/new_food" id="modalNewFood">New food here</a>
				</div>
				<div class="btn btn-primary btn-lg btn-block modalClose" id="modalClose">
					Close
				</div>
			</div>
		</div>
		<div id="calendarEventModal" class="modal">
			<div class="modal_content border border-dark rounded container">
				<span  id="calendarEventModalText">
				</span>
				<div>
					<a href="" id="modalEventLink">Link to entry here</a>
				</div>
				<div class="btn btn-primary btn-lg btn-block modalClose" id="modalClose2">
					Close
				</div>
			</div>
		</div>
		<div class="container mt-3 bottom_link_wrapper">
			<a href="/analysis" class="btn btn-primary btn-lg  btn-block">Analysis</a>
			<a href="/new_entry" class="btn btn-primary btn-lg btn-block">New entries here</a>
			<a href="/new_food" class="btn btn-primary btn-lg btn-block"> New food here</a>
			<div class="btn btn-primary btn-lg btn-block" id="eventListToggle">See all old entries here</div>
		</div>
		<div class="hidden" id="eventList">
			<div class="left_events_wrapper">
				<h2>Your Reactions</h2>
			<ul>
				<% eventlist.forEach(function(event) { %>
					<li class="align_left"><a href="entry/<%= event._id %>"><%= event.event_date.toDateString() %> - <%= event.event_type %></a></li>
			<% }); %>
			</ul>
			</div>
			<div class="left_foods_wrapper">
				<h2>Your foodies</h2>
			<ul>
				<% foodlist.forEach(function(food) { %>
					<li class="align_left"><a href="food/<%= food._id %>"><%= food.datetime_eaten.toDateString() %> - <%= food.food_name %> </a></li>
				<% }); %>
			</ul>
			</div>
		</div>
		<div id="homeEventJSONStr">
			<%= eventsJSONStr %>
		</div>
		</diV>
	</main>
	<div id="test" class="centered"></div>
	<footer class="centered">
		FoodSense 2020. Check out <a href="https://lucasdpau.github.io">my portfolio.</a>
	</footer>
	<!-- load the calendar first-->
	<script src="home.js"></script>
	<!-- Load a React component. -->
	<script src="homereact.js"></script>
</body>
</html>